@import url("https://fonts.googleapis.com/css?family=Cuprum&display=swap");

// Colors
$blue: #35789e;
$yellow: #f7c744;
$black: #000;
$white: #fff;
$pink: #a32b67;
$violet_dark: #723098;
$violet_medium: #9226c9;
$violet_light: #b467da;
$yellowgreen: #b1ce1b;
$yellowgreen_2: #93a632;
$shadow: #ccc;

//Bg
$violet: rgb(146,38,201);
$violet_bg: rgba(180,103,218, 0.3);
$light-violet: rgb(180,103,218);
$yellowgreen_bg: rgba(177,206,27, 0.8);
$yellowgreen_bg_2: rgb(147,166,50);
$yellowgreen_bg_3: rgb(177,206,27);
$yellowgreen_bg_4: rgba(177,206,27, 0.3);
$yellowgreen_bg_5: rgba(177,206,27, 0.1);
$list_bg: #f7f0fc;
$list_bg_rgba: rgba(180,103,218, .1);

//Button
$button_bg: rgb(177,206,27);
$button_bg_violet: rgb(146,38,201);

// Screen Width
$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-family: 'Cuprum', sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
	color: $black;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	color: $violet_light;
	background-color: transparent;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: 700;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
	max-width: 100%;
	height: auto;

	//background: linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 10px) no-repeat,
	//linear-gradient(48deg, #b1ce1b 0%, #b467da 100%);
	//border-radius: 0;
	//padding: 9px;
	//box-sizing: border-box;

	// border radius
	//background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 3px, transparent 3px) 0% 0%/8px 8px no-repeat,
	//radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px) 100% 0%/8px 8px no-repeat,
	//radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px) 0% 100%/8px 8px no-repeat,
	//radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px) 100% 100%/8px 8px no-repeat,
	//linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 16px) no-repeat,
	//linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 10px) no-repeat,
	//linear-gradient(48deg, #b1ce1b 0%, #b467da 100%);
	//border-radius: 8px;
	//padding: 9px;
	//box-sizing: border-box;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

code,
kbd,
pre,
samp {
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

select {
	text-transform: none;
}

button {
	overflow: visible;
}

button,
input,
select,
textarea {
	max-width: 100%;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
	opacity: .5;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 0.4375em;
	padding: 0;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button,
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-outer-spin-button,
input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-outer-spin-button,
input[type="week"]::-webkit-inner-spin-button,
input[type="week"]::-webkit-outer-spin-button,
input[type="month"]::-webkit-inner-spin-button,
input[type="month"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #d1d1d1;
	margin: 0 0 1.75em;
	min-width: inherit;
	padding: 0.875em;
}

fieldset > :last-child {
	margin-bottom: 0;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

optgroup {
	font-weight: bold;
}

p {
	color: $black;
	font-size: 16px;
	line-height: 26px;
	margin: 1rem 0;

	@media (min-width: $tableWidth) {
		font-size: 18px;
	}
}

h1, h2, h3, h4 {
	font-size: 32px;
	line-height: 36px;
	text-shadow: 3px 5px 20px rgba(0,0,0,0.2);

	@media (min-width: $tableWidth) {
		font-size: 36px;
		line-height: 42px;
	}
}

h2, h3 {
	font-size: 28px;
	line-height: 36px;
}

h4, h5 {
	font-size: 28px;
	line-height: 36px;
	margin: 0;
}

section {
	max-width: 1280px;
	margin: 0 auto;
	width: 100%;
}

table {
	width: 100%; /* Ширина таблицы */
	border: 1px  black; /* Рамка вокруг таблицы */
	border-collapse: collapse; /* Отображать только одинарные линии */

	thead {
		background: $yellowgreen_bg_4;
	}

	//th {
	//	text-align: left; /* Выравнивание по левому краю */
	//	background: $shadow; /* Цвет фона ячеек */
	//	padding: 15px; /* Поля вокруг содержимого ячеек */
	//	border: 1px solid black; /* Граница вокруг ячеек */
	//}

	th, td {
		padding: 5px 2px;
		border: 1px solid #000;
		font-size: 16px;
		white-space: normal;
		word-break: break-word;
		width: 33%;

		.tooltip-box {
			position: absolute;
			color: $white;
			text-align: center;
			top: -36px;
			left: 10px;
			background: rgba(0,0,0,.8);
			width: 130px;
			padding: 10px;
			border-radius: 6px;
			font-size: 13px;
			overflow: hidden;
			max-height: 60px;
			z-index: 2;

			&.undefined {
				width: 180px;
			}
		}

		a {
			position: relative;
			text-decoration: none;
			cursor: pointer;

			.distance-question {
				font-size: 0.4em;
				bottom: 6px;
				position: relative;
				border-radius: 50%;
				border: 1px solid;
				padding: 2px;
				width: 14px;
				height: 14px;
				text-align: center;
				left: 4px;
			}
		}

		@media (min-width: $tableWidth) {
			padding: 15px;
			font-size: 18px;
			width: auto;
		}

		> h3 {
			margin: 0;
		}
	}

	td:first-child {
		background: $yellowgreen_bg_5;

		&[colspan="3"] {
			background: $violet_bg;
		}
	}
}

.site-content {
	@media (min-width: $tableWidth) {
		//margin-top: 190px;
	}
}

.container {
	padding: 15px;

	ul, ol {

		padding: 0 0 0 30px;
		@media (min-width: $tableWidth) {
			padding: 0 0 0 50px;
		}

		> li {
			font-size: 16px;
			line-height: 26px;
			margin: 0 0 10px 0;
			@media (min-width: $tableWidth) {
				font-size: 18px;
			}
		}
	}



	@media (min-width: $tableWidth) {
		padding: 30px 75px 30px;
	}

	&__fullwidth {
		@media (min-width: $tableWidth) {
			padding: 30px 0;
		}
	}
}

.container-vertical {
	margin: 30px auto;

	@media (min-width: $tableWidth) {
		margin: 30px auto;
	}
}

.title {
	text-align: left;
	margin: 0 0 20px;
	color: $black;
	font-weight: bold;
	font-size: 32px;
	line-height: 36px;
	//text-shadow: 3px 5px 20px rgba(0,0,0,0.2);

	@media (min-width: $tableWidth) {
		font-size: 36px;
		line-height: 42px;
	}
}

//Buttons
.button-green, .wpcf7-submit {
	background: $button_bg;
	padding: 10px 10px;
	margin: 0 7px 10px;
	color: $white;
	text-decoration: none;
	font-size: 16px;
	min-width: 125px;
	text-align: center;
	border: none;
	box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
	text-shadow: 3px 5px 20px rgba(0,0,0,0.6);

	&.violet {
		background: $button_bg_violet;
	}

	@media (min-width: $tableWidth) {
		padding: 15px 40px;
		margin: 0 20px;
		font-size: 20px;
		min-width: 155px;
	}

	&.wpcf7-form-control {
		margin-left: 0;
	}

	&.no-margin {
		margin: 0;
	}
}

//Effects
.scale, .wpcf7-submit {
	transition: transform .2s ease-in-out;
	display: inline-block;

	&:hover {
		transform: scale(1.1);
	}
}

@-webkit-keyframes pulsate {
	50% {
		transform: scale(1.06);
		text-shadow: 4px 4px 10px rgba(0,0,0,0.6);
		//color: $white;
		//text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px $white;
		//text-shadow: 4px 4px 25px rgba(0,0,0,0.4);
	}
}

@keyframes pulsate {
	50% {
		transform: scale(1.06);
		text-shadow: 4px 4px 10px rgba(0,0,0,0.6);
		//color: $white;
		//text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px $white;
		//text-shadow: 4px 4px 25px rgba(0,0,0,0.4);
	}
}

.pulse-text {
	color: $white;
	text-shadow: 4px 4px 25px rgba(0,0,0,0.1);
	-webkit-animation: pulsate 4s linear infinite;
	animation: pulsate 4s linear infinite;
}

.icon {
	text-decoration: none;
	margin: 0 5px;
	transition: transform .2s ease-in-out;

	&:last-child {
		margin-right: 0;
	}

	&:hover {
		color: $yellowgreen;
	}
}

.header {
	position: relative;

	@media (min-width: $tableWidth) {
		position: sticky;
		//position: fixed;
		z-index: 2;
		width: 100%;
		top: 0;
	}

	&__info {
		background: $light-violet;
		color: $white;
		padding: 15px;
		font-size: 16px;
		text-align: center;
		background: linear-gradient(90deg, rgba(177,206,27,1) 0%, rgba(180,103,218,1) 100%);
		background: linear-gradient(90deg, rgba(177,206,27,1) 0%, rgba(178,167,100,1) 60%, rgba(180,103,218,1) 100%);
		background: linear-gradient(90deg, rgba(177,206,27,1) 0%, rgba(178,167,100,1) 30%, rgba(180,103,218,1) 100%);
		background: linear-gradient(90deg, rgba(177,206,27,1) 0%, rgba(180,103,218,1) 52%, rgba(146,38,201,1) 100%);
		background: linear-gradient(90deg, rgba(177,206,27,1) 0%, rgba(146,38,201,1) 100%);
		background: #a23cd5;
		background: linear-gradient(90deg,#9226c9 0,#b1ce1b 100%);

		&-slogan,
		&-slogan a {
			color: $white;
			text-decoration: none;
			text-align: left;
			max-width: 250px;
			font-size: 14px;
			text-shadow: 3px 5px 20px rgba(0,0,0,0.6);

			> span:first-child {
				font-size: 22px;
			}
			> span:nth-child(2) {
				display: none;
				@media (min-width: $tableWidth) {
					display: block;
				}
			}
			&:active, &:hover{
				color: $white;
				text-decoration: none;
			}
		}

		@media (min-width: $tableWidth) {
			display: grid;
			grid-template-columns: 1fr 2fr 1fr;
			padding: 10px 40px;
		}

		&-phones {
			font-size: 16px;
			width: 100%;
			text-align: left;
			display: flex;
			justify-content: center;
			align-items: center;
			text-shadow: 3px 5px 20px rgba(0,0,0,0.6);

			@media (min-width: $tableWidth) {
				//display: inline-block;
				text-align: center;
				border-left: 1px dotted #fff;
				border-right: 1px dotted #fff;
			}

			&-first {
				font-size: 26px;
				padding: 5px 0;

				@media (min-width: $tableWidth) {
					font-size: 26px;
					padding: 0;
				}
			}
			&-second {
				display: none;
				@media (min-width: $tableWidth) {
					display: block;
					font-size: 16px;
				}
			}
			&-third {
				display: none;
				@media (min-width: $tableWidth) {
					display: block;
					font-size: 16px;
				}
			}
			&-link {
				color: $white;
				text-decoration: none;
			}
			&-icons{
				display: inline-block;
				margin-right: 20px;

				> a {
					color: $white;
					text-decoration: none;
					height: 100%;
					display: inline-block;
				}

				@media (min-width: $tableWidth) {
					vertical-align: top;
					margin-right: 20px;
				}
			}
			&-items{
				display: inline-block;
			}

		}

		&-text {
			display: none;
			@media (min-width: $tableWidth) {
				display: inline-block;
				justify-self: end;
				text-align: end;
				width: 185px;
			}

			> span {
				display: block;
				margin-right: 2px;
				text-shadow: 3px 5px 20px rgba(0,0,0,0.6);
			}
		}

		&-button {
			display: none;

			@media (min-width: $tableWidth) {
				padding: 10px 25px;
				display: inline-block;
				margin: 4px 0 0;
			}
		}
	}

	&__menu {
		position: relative;
		box-shadow: 0 2px 10px -4px grey;
		background-color: $white;

		@media (min-width: $tableWidth) {
			display: flex;
			flex: 1;
			justify-content: center;
			padding: 0;
		}
	}
}

// Menus
#nav {
	list-style: none;
	font-weight: bold;
	text-align: center;
	padding: 0;
	display: none;
	@media (min-width: $tableWidth) {
		display: inline-block;
	}

}

#menu-main-menu {
	padding: 0px;
}

#nav .current-menu-item > a {
	color: $violet_light;
	border-bottom: 3px solid $yellowgreen_bg_3;
}

#nav li {
	display: inline;
	position: relative;
}
#nav a {
	display: inline-block;
	padding: 1ex;
	text-decoration: none;
	color: $violet_light;
	font-size: 20px;
	border-bottom: 3px solid transparent;
}
#nav a:hover {
	text-decoration: none;
	color: $white;
	background: $violet_light;
}
#nav li ul {
	display: none;
	list-style: none;
	position: absolute;
	padding: 0;
	left: 0;

	.current-menu-item > a {
		color: $yellowgreen;
		border-bottom: 3px solid transparent;
	}
}
#nav li ul li {
	display: block;
	color: $white;
	background: $violet_light;
	text-align: left;
}
#nav li ul li a{
	color: $white;
	width: 200px;
	&:hover {
		color: $yellowgreen;
	}
}
#nav li:hover ul {
	display: block;
}

#menu-toggle {
	position: absolute;
	top: 10px;
	right: 10px;
	background:transparent;
	border: none;
	@media (min-width: $tableWidth) {
		display: none;
	}
}
.mm-menu {
	z-index: 3;
}

.site {
	//@media (min-width: $tableWidth) {
	//	padding-top: 190px;
	//}
}


//Main page
.top {
	max-width: 100%;
	&__text {
		position: relative;
		color: $black;
		height: 300px;
		width: 100%;
		background: rgba(0, 0, 0, 0.5);

		@media (min-width: $tableWidth) {
			height: 300px;

		}

		&-link {
			position: absolute;
			right: 10px;
			bottom: 25px;

			@media (min-width: $tableWidth) {
				right: 20px;
				bottom: 20px;
			}
		}
	}

	&__bg {
		position: relative;
		background-color: $violet_light;
	}

	&__random-text {
		color: $white;
		font-size: 18px;
		line-height: 26px;
		position: relative;
		z-index: 1;
		padding: 0 15px;
		text-shadow: 3px 5px 20px rgba(0,0,0,0.2);
		text-align: left;

		&:first-child {
			padding-top: 15px;
		}

		@media (min-width: $tableWidth) {
			font-size: 26px;
			padding: 0 40px;

			&.slideInRight {
				text-align: left;
			}

			&.slideInLeft {
				text-align: right;
			}

			&:first-child {
				padding-top: 30px;
			}
		}
	}
}

.service {
	&__list {
		align-self: center;
		justify-content: center;
		justify-items: center;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 25px;

		@media (min-width: $tableWidth) {
			grid-template-columns: 1fr 1fr;
			grid-gap: 45px;
		}

		&-item {
			background-color: $list_bg;
			width: 100%;
			position: relative;
			padding: 40px 20px;
			box-shadow: 0 4px 6px -2px $shadow;

			@media (min-width: $tableWidth) {
				padding: 40px 20px 110px;
			}

			&-title {
				text-align: center;
				color: $black;
				font-size: 32px;
				line-height: 32px;
				margin: 0 0 20px;

				@media (min-width: $tableWidth) {
					font-size: 36px;
					line-height: 48px;
				}
			}

			&-text {
				color: $black;
				> ul {
					list-style-type: none;
					padding: 0 0 0 50px;

					> li {
						position: relative;
						font-size: 16px;
						margin: 0 40px 0 0;
						line-height: 24px;

						@media (min-width: $tableWidth) {
							font-size: 22px;
							margin: 0 40px;
							line-height: 36px;
						}

						&:before {
							width: 15px;
							height: 15px;
							content: '';
							background: url(/wp-content/themes/truetransfer/images/icons/check-solid.svg);
							position: absolute;
							left: -40px;
							top: 7px;

							@media (min-width: $tableWidth) {
								width: 20px;
								height: 20px;
							}
						}
					}
				}
			}

			&-buttons {
				text-align: center;

				@media (min-width: $tableWidth) {
					text-align: center;
					position: absolute;
					left: 50%;
					display: inline-block;
					transform: translate(-50%, 0);
					width: 100%;
					bottom: 45px;
				}
			}
		}
	}
}

.advantages {
	&__title {
		text-align: center;
		margin: 0 0 20px;
		color: $black;
		font-size: 32px;
		line-height: 32px;

		@media (min-width: $tableWidth) {
			font-size: 48px;
			line-height: 56px;
		}
	}

	&__list {
		align-self: center;
		justify-content: center;
		justify-items: center;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 25px;

		@media (min-width: $phoneWidth) {
			grid-template-columns: 1fr 1fr;
			grid-gap: 10px;
		}

		@media (min-width: $desktopWidth) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-gap: 10px;
		}

		&-item {
			background-color: $list_bg;
			width: 100%;
			position: relative;
			padding: 40px 20px;
			box-shadow: 0 4px 6px -2px $shadow;

			@media (min-width: $tableWidth) {
				padding: 40px 35px;
			}

			&-title {
				text-align: center;
				color: $black;
				font-size: 22px;
				line-height: 26px;
				margin: 0 0 20px;

				@media (min-width: $tableWidth) {
					min-height: 55px;
				}
			}

			&-text {
				color: $black;
				font-size: 16px;

				@media (min-width: $tableWidth) {
					font-size: 18px;
					line-height: 26px;
				}
			}

			&-icon {
				color: $yellowgreen;
				text-align: center;
				margin-bottom: 20px;
			}

		}
	}
}

.transfer-price {
	&__title {
		text-align: center;
		margin: 0 0 20px;
		color: $black;
		font-size: 32px;
		line-height: 32px;

		@media (min-width: $tableWidth) {
			font-size: 48px;
			line-height: 56px;
		}
	}

	&__list {
		align-self: center;
		justify-content: center;
		justify-items: center;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 25px;

		@media (min-width: $tableWidth) {
			grid-template-columns: 1fr 1fr;
			grid-gap: 45px;
		}

		@media (min-width: $desktopWidth) {
			grid-template-columns: 1fr 1fr 1fr;
		}

		&-item {
			background-color: $list_bg;
			width: 100%;
			position: relative;
			box-shadow: 0 4px 6px -2px $shadow;

			&-img {
				> img {
					width: 100%;
					height: 200px;
				}
			}
			&-title {
				text-align: center;
				color: $black;
				font-size: 24px;
				line-height: 32px;
				margin: 0 0 20px;
				padding: 10px 0 0;

				@media (min-width: $tableWidth) {
					font-size: 24px;
					line-height: 36px;
				}
			}

			&-text {
				color: $violet_medium;
				font-size: 32px;
				text-align: center;
				padding: 0 0 20px;

				@media (min-width: $tableWidth) {
					font-size: 36px;
					line-height: 26px;
				}
			}
		}
	}
	&__button {
		text-align: center;
		margin-top: 30px;

		@media (min-width: $tableWidth) {
			text-align: right;
		}
	}
}
.content {
	&__title {
		text-align: center;
	}

	&__button {
		text-align: center;
		@media (min-width: $tableWidth) {
			text-align: right;
		}

	}
}

.people-says {

	&__title {
		text-align: center;
	}

	&__item {
		background-color: $list_bg;
		min-height: 300px;
		display: grid;
		grid-template-columns: 1fr;
		margin-bottom: 30px;
		background-repeat:no-repeat;
		background-position: center;
		background-size: cover;
		box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);

		@media (min-width: $tableWidth) {
			min-height: 170px;
			grid-template-columns: 250px 1fr;
			margin-bottom: 30px;
		}

		&-img {
			position: relative;
			overflow: hidden;
			min-height: 260px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;

			@media (min-width: $tableWidth) {
				min-height: auto;
				//width: 260px;
			}

			//> img {
			//	position: absolute;
			//	margin: auto;
			//	top: 0;
			//	left: 0;
			//	right: 0;
			//	bottom: 0;
			//	width: auto;
			//	height: 100%;
			//}
		}
		&-content {
			padding: 0 20px;
		}

		&-title{
			font-size: 26px;
			margin-top: 15px;
			@media (min-width: $tableWidth) {
				font-size: 26px;
				margin-top: 15px;
			}
			> .date {
				font-size: 16px;
				display: block;
			}
		}
	}

	&__button {
		text-align: center;
		@media (min-width: $tableWidth) {
			text-align: right;
		}

	}
}

.order {
	position: relative;
	background-color: $violet_light;
	height: 100%;

	&__content {
		min-height: 300px;
		background: rgba(0, 0, 0, 0.5);

		&-text {
			color: $white;
			font-size: 34px;
			text-align: center;
			padding: 80px 15px 20px;

			@media (min-width: $tableWidth) {
				padding: 100px 0 20px;
			}
		}
	}
	&__button {
		text-align: center;
	}
}

.questions {
	&__content {
		background: $list_bg;
		padding: 40px 20px;
		box-shadow: 0 4px 6px -2px $shadow;

		&-text {
			color: $violet_medium;
			font-size: 34px;
			text-align: center;
		}
		&-phone {
			text-align: center;
			font-size: 48px;
			padding: 20px 0 0;

			&-link{
				color: $violet_medium;
				text-decoration: none;
			}
		}
	}
}

.partners {

	&__title {
		text-align: center;
	}

	&__item {
		padding: 15px;
	}

	.slick {

		&-list {
			padding-bottom: 20px;
		}

		&-track {
			display: flex;
			align-items: center;
		}
		&-dots {
			padding: 0;
		}
	}

	&__button {
		text-align: center;
		margin-top: 25px;

		@media (min-width: $tableWidth) {
			margin-top: 45px;
			text-align: right;
		}
	}
}

.alignright {
	display: block;
	margin-left: auto;
	margin-right: auto;
	@media (min-width: $phoneWidth) {
		float: right;
		margin-left: 15px;
	}
}
.alignleft {
	display: block;
	margin-left: auto;
	margin-right: auto;
	@media (min-width: $phoneWidth) {
		float: left;
		margin-right: 15px;
	}
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

//Pages
.page, .review, .partners-page {
	min-height: 380px;
	&__title {
		text-align: center;
	}

	//.check-list {
	.content, .page__content {
		ul {
			list-style-type: none;
			padding: 0 0 0 50px;

			> li {
				position: relative;

				&:before {
					width: 15px;
					height: 15px;
					content: '';
					background: url(/wp-content/themes/truetransfer/images/icons/check-solid.svg);
					position: absolute;
					left: -40px;
					top: 7px;

					@media (min-width: $tableWidth) {
						top: 4px;
						width: 20px;
						height: 20px;
					}
				}
			}
		}
	}
}

.review {
	&__item {
		background-color: $list_bg;
		min-height: 300px;
		display: grid;
		grid-template-columns: 1fr;
		margin-bottom: 30px;
		box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);

		@media (min-width: $tableWidth) {
			min-height: 170px;
			grid-template-columns: 250px 1fr;
		}
		&-img {
			position: relative;
			overflow: hidden;
			min-height: 260px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;

			@media (min-width: $tableWidth) {
				min-height: auto;
			}
			//> img {
			//	position: absolute;
			//	margin: auto;
			//	top: 0;
			//	left: 0;
			//	right: 0;
			//	bottom: 0;
			//	width: auto;
			//	height: 100%;
			//}
		}
		&-content {
			padding: 0 20px;
		}

		&-title{
			font-size: 26px;
			margin-top: 15px;
			@media (min-width: $tableWidth) {
				font-size: 26px;
				margin-top: 15px;
			}
			> .date {
				font-size: 16px;
				display: block;
			}
		}
	}
}

.partners-page {
	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 25px;
		text-align: center;

		@media (min-width: $tableWidth) {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			grid-gap: 45px;
		}
	}
}

.archive-page {

	&__title {
		text-align: center;
	}

	&__list {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 25px;
		text-align: justify;

		@media (min-width: $tableWidth) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	&__item {
		box-shadow: 0 4px 6px -2px $shadow;

		&-img {
			>img {
			width: 100%;
			height: 300px;
			}
		}

		&-text{
			padding: 0 25px 25px;

			> p {
				height: 110px;
				overflow: hidden;
			}
		}

		&-title {
			display: flex;
			align-self: center;
			justify-content: center;
			align-items: center;
			text-align: center;
			min-height: 75px;
			font-size: 26px;
			line-height: 36px;

		}
		.button {
			text-align: right;
		}
	}
}

.for-drivers {
	&__list {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 25px;
		text-align: left;

		@media (min-width: $tableWidth) {
			grid-template-columns: 1fr 1fr;
			grid-gap: 45px;
		}
	}
}
.wpcf7-form {
	input[type=text], input[type=text]:hover, input[type=text]:focus, input[type=text]:active,
	input[type=date], input[type=date]:hover, input[type=date]:focus, input[type=date]:active,
	input[type=tel], input[type=tel]:hover, input[type=tel]:focus, input[type=tel]:active,
	input[type=email], input[type=email]:hover, input[type=email]:focus, input[type=email]:active,
	select, select:hover, select:focus, select:active,
	textarea, textarea:hover, textarea:focus, textarea:active {
		outline:none;
		border: 1px solid $violet_dark;
		padding: 5px 10px;
	}
	span.wpcf7-list-item {
		margin: 0;
	}

	select, select:hover, select:focus, select:active {
		max-width: 310px;
		width: 100%;
	}

	.wpcf7-radio span.wpcf7-list-item {
		display: block;
	}

	input[type=radio], input[type=text]:hover, input[type=text]:focus, input[type=text]:active {
		outline:none;
		border: 1px solid $violet_dark;
		padding: 5px 10px;
		margin-right: 0;
	}

	.select2-container--default {
		.select2-selection--single {
			outline: 0;
			border: 1px solid $violet_dark;
			border-radius: 0;
			width: 100%;
			max-width: 310px;
			height: 35px;

			.select2-selection__rendered {
				line-height: 34px;
				color: #000;
				padding-left: 15px;
			}

			.select2-selection__placeholder{
				color: #000;
			}

			.select2-selection__arrow {
				color: #000;
				height: 33px;

				b {
					border-color: #000 transparent transparent transparent;
				}
			}
		}
	}

	.total-car-price p {
		line-height: 20px;
	}
}

.select2-container.select2-container--open {
	.select2-dropdown {
		border: 1px solid $violet_dark;

		.select2-search__field {
			border: 1px solid $violet_dark;
			outline: 0;
		}

	}
}
.select2-container.select2-container--default .select2-results__option[aria-selected=true] {
	background-color: $yellowgreen_bg_3;
	color: $white;
}
.select2-container.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: $light-violet;
}

.gallery {
	display: grid;
	grid-gap: 15px;
	text-align: center;
	align-items: center;
	align-self: center;

	&-columns {
		&-1 {
			grid-template-columns: 1fr;
		}

		&-2 {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}

		&-3 {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		}

		&-4 {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}

		&-5 {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		}

		&-6 {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		}

		&-7 {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		}

		&-8 {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		}

		&-9 {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		}
	}
}

.footer {
	display: inline-block;
	width: 100%;

	&__content {
		color: $white;
		background-color: $violet_light;
		background: linear-gradient(90deg, rgba(146,38,201,1) 0%, rgba(177,206,27,1) 100%);
		min-height: 100px;
		box-shadow: 0 -2px 10px -4px grey;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 10px;
		padding: 20px 15px;
		text-align: center;

		@media (min-width: $tableWidth) {
			grid-template-columns: 1fr 1fr 1fr;
			padding: 20px 35px;
		}

		&-item {
			align-self: center;

			&-link, a {
				color: $white;
				display: inline-block;
			}
			&:nth-child(1), &:nth-child(2){
				text-align: center;
				@media (min-width: $tableWidth) {
					text-align: left;
				}
			}

			&:nth-child(3){
				text-align: center;
				@media (min-width: $tableWidth) {
					text-align: right;
				}
			}
		}

		&-subitems {
			display: flex;
			align-items: center;
			justify-content: center;

			@media (min-width: $tableWidth) {
				justify-content: left;
			}
		}

		&-subitem {
			display: inline-block;
		}
	}
}

.post-thumbnail {
	> img {
		width: 100%;
	}
}
.pagination {
	padding: 20px 0;
	text-align: center;
	font-size: 20px;
}

#button {
	display: inline-block;
	background-color: $yellowgreen;
	width: 40px;
	height: 40px;
	text-align: center;
	position: fixed;
	bottom: 165px;
	right: 15px;
	transition: background-color .3s,
	opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;

	//@media (min-width: $tableWidth) {
	//	bottom: 150px;
	//}

	> i {
		font-size: 22px;
		line-height: 40px;
		color: $white;
	}

	&:hover {
		cursor: pointer;
		background-color: $yellowgreen_2;
	}

	&:active {
		background-color: $yellowgreen_2;
	}

	&.show {
		opacity: 1;
		visibility: visible;
	}
}


/*кнопка звонка*/

.callback-button {
	background: rgb(24, 193, 57);
	border-radius: 50%;
	cursor:pointer;
	height: 68px;
	text-align: center;
	width: 68px;
	position: fixed;
	right: 20px;
	bottom: 80px;
	z-index: 999;
	-webkit-animation:hoverWave linear 10s infinite;
	animation:hoverWave linear 10s infinite;

	i {
		color: $white;
		font-size:34px;
		line-height: 66px;
	}
}

@-webkit-keyframes hoverWave {
	0% {
		box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 0 rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
	}
	5% {
		box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 15px rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
	}
	10% {
		box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 26.7px rgba(56,163,253,0.067)
	}
	15% {
		box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 40px rgba(56,163,253,0.0)
	}
}

@keyframes hoverWave {
	0% {
		box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 0 rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
	}
	5% {
		box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 15px rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
	}
	10% {
		box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 26.7px rgba(56,163,253,0.067)
	}
	15% {
		box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 40px rgba(56,163,253,0.0)
	}
 }

/* конец кнопки звонка */


@keyframes flickerAnimation {
	0%   { opacity:0; }
	20%  { opacity:1; }
	70%  { opacity:1; }
	100% { opacity:0; }
}
@-o-keyframes flickerAnimation{
	0%   { opacity:1; }
	50%  { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
	0%   { opacity:1; }
	50%  { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
	0%   { opacity:1; }
	50%  { opacity:0; }
	100% { opacity:1; }
}
.animate-flicker {
	-webkit-animation: flickerAnimation 5s infinite;
	-moz-animation: flickerAnimation 5s infinite;
	-o-animation: flickerAnimation 5s infinite;
	animation: flickerAnimation 5s infinite;
}